In [54]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import pickle

In [55]:
nba_df_impute = pd.read_csv("/Users/nba_df.csv")
nba_df_impute.shape

(481, 28)

In [63]:
nba_df_impute.head()

,name,Age,G,GS,MP,FG,FGA,FG_Per,threeP,threePA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PS_Game,Salary
0,Alex Abrines,23,68,6,15.5,2.0,5.0,0.393,1.4,3.6,...,0.3,1.0,1.3,0.6,0.5,0.1,0.5,1.7,6.0,2392.697223
1,Quincy Acy,26,38,1,14.7,1.8,4.5,0.412,1.0,2.4,...,0.5,2.5,3.0,0.5,0.4,0.4,0.6,1.8,5.8,1307.493021
2,Steven Adams,23,80,80,29.9,4.7,8.2,0.571,0.0,0.0,...,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3,4740.454620
3,Arron Afflalo,31,61,45,25.9,3.0,6.9,0.440,1.0,2.5,...,0.1,1.9,2.0,1.3,0.3,0.1,0.7,1.7,8.4,1383.591703
4,Alexis Ajinca,28,39,15,15.0,2.3,4.6,0.500,0.0,0.1,...,1.2,3.4,4.5,0.3,0.5,0.6,0.8,2.0,5.3,2227.509371

In [56]:
nba_df_impute.columns

Index(['name', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game', 'Salary'],
      dtype='object')

In [57]:
X_train, X_test, y_train, y_test = train_test_split(nba_df_impute.loc[:, nba_df_impute.columns != 'Salary'], 
                                                    nba_df_impute.Salary, test_size=0.2, random_state =1234)

In [58]:
y = y_train
X = X_train[['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game']]

#test
y_test = y_test 
X_test = X_test[['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game']]

In [59]:
X_train.head(2)

,name,Age,G,GS,MP,FG,FGA,FG_Per,threeP,threePA,...,FT_Per,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PS_Game
429,P.J. Tucker,31,81,21,27.6,2.5,6.0,0.413,0.9,2.4,...,0.774,1.4,4.4,5.8,1.2,1.4,0.2,0.8,2.4,6.7
225,Joe Johnson,35,78,14,23.6,3.5,8.0,0.436,1.4,3.3,...,0.818,0.4,2.7,3.1,1.8,0.5,0.2,0.9,1.2,9.2

In [60]:

linreg = LinearRegression()
#5 fold cross-validation r^2 mean score
linreg_scores = cross_val_score(linreg, X, y, cv=5)

print(np.mean(linreg_scores))

0.5109643349354263

In [61]:
linreg.fit(X, y)

print(linreg.score(X, y))

# Test data #
linreg.score(X_test, y_test)

0.604660062877209

0.5287402247919708

In [62]:
import pickle
pickle.dump(linreg, open('/Users/lr_predict.pickle', 'wb'))