In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import pickle

In [2]:
nba_df_impute = pd.read_csv("/Users/nba_df.csv")
nba_df_impute.shape

(481, 28)

In [3]:
nba_df_impute.head()

,name,Age,G,GS,MP,FG,FGA,FG_Per,threeP,threePA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PS_Game,Salary
0,Alex Abrines,23,68,6,15.5,2.0,5.0,0.393,1.4,3.6,...,0.3,1.0,1.3,0.6,0.5,0.1,0.5,1.7,6.0,2393
1,Quincy Acy,26,38,1,14.7,1.8,4.5,0.412,1.0,2.4,...,0.5,2.5,3.0,0.5,0.4,0.4,0.6,1.8,5.8,1307
2,Steven Adams,23,80,80,29.9,4.7,8.2,0.571,0.0,0.0,...,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3,4740
3,Arron Afflalo,31,61,45,25.9,3.0,6.9,0.440,1.0,2.5,...,0.1,1.9,2.0,1.3,0.3,0.1,0.7,1.7,8.4,1384
4,Alexis Ajinca,28,39,15,15.0,2.3,4.6,0.500,0.0,0.1,...,1.2,3.4,4.5,0.3,0.5,0.6,0.8,2.0,5.3,2228

In [4]:
nba_df_impute.columns

Index(['name', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game', 'Salary'],
      dtype='object')

In [5]:
X_train, X_test, y_train, y_test = train_test_split(nba_df_impute.loc[:, nba_df_impute.columns != 'Salary'], 
                                                    nba_df_impute.Salary, test_size=0.3, random_state =1234)

In [6]:
y = y_train
X = X_train[['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game']]

#test
y_test = y_test 
X_test = X_test[['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG_Per', 'threeP',
       'threePA', 'threeP_Perc', 'twoP', 'twoPA', 'twoP_Per', 'eFG_Per', 'FT',
       'FTA', 'FT_Per', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PS_Game']]

In [7]:
X_train.head(2)

,name,Age,G,GS,MP,FG,FGA,FG_Per,threeP,threePA,...,FT_Per,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PS_Game
156,Marcin Gortat,26,82,82,31.2,4.8,8.2,0.579,0.0,0.0,...,0.648,2.9,7.5,10.4,1.5,0.5,0.7,1.5,2.6,10.8
406,Marreese Speights,29,82,2,15.7,3.0,6.7,0.445,1.3,3.4,...,0.876,1.1,3.5,4.5,0.8,0.3,0.5,0.8,2.8,8.7

In [8]:
linreg = LinearRegression()

#5 fold cross-validation r^2 mean score

linreg_scores = cross_val_score(linreg, X, y, cv=5)

In [9]:
linreg.fit(X, y)

print(linreg.score(X, y))

# Test data #

linreg.score(X_test, y_test)

0.5874536825499772

0.5759764597883956

In [11]:
import pickle
pickle.dump(linreg, open('/Users/lr_predict.pickle', 'wb'))